:root{
  --primary-color: #79e7f8;
  --secondary-color:rgb(44, 44, 44);
  --accent1-color: #A9BCD0;
  --accent2-color:#D8DBE2;
  --accent3-color:#1B1B1E;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  /* Burger Icon Container */
  .burger-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    width: 40px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    background: hwb(0 100% 0% / 0.1);
    box-shadow: 0 4px 6px #0000001a;
  }
  
  /* Burger Icon Lines */
  .burger-line {
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
    border-radius: 2px;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
  }
  
  /* Checkbox Hack */
  #burger-toggle {
    display: none;
  }
  
  
  .nav-menu ul li a:hover::after {
    left: 0;
  }
  
  /* Burger Icon Animation on Checkbox Checked */
  #burger-toggle:checked ~ .burger-container .burger-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  #burger-toggle:checked ~ .burger-container .burger-line:nth-child(2) {
    opacity: 0;
  }
  
  #burger-toggle:checked ~ .burger-container .burger-line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  /* Navigation Slide In */
  #burger-toggle:checked ~ .nav-menu {
    right: 0;
  }
header{
    box-shadow: 0px 0px 2px ;
    background-color:var(--primary-color);
    text-align: center;
    width:100% ;
    display: flex;
    justify-content: space-between;
}
.logotitle{
    padding: 15px;
    display: flex;
}
.logotitle img{
  width: 110px;
  height: 70px;
}
header h1{
    display: grid;
    grid-template-columns: 1fr;
    color: var(--secondary-color);
}
main h1{
  text-align: center;
  margin: 10px;
  font-size: 1.5vw;
}
.title{
    font-weight: 600;
}
.sous-title{
    font-size: medium;
    
}
.nav-menu {
    padding: 10px;
}
.nav-menu ul{
    list-style-type: none;
    display: flex;
}

.nav-menu  a{
    display: block;
    font-weight: 600;
    color:var(--secondary-color);
    text-decoration: none;
    padding: 20px;
}
.nav-menu a:hover{
    text-decoration: underline;
}

.mode{
   position: relative;
   top: 10px;
   background: none;
   height: 35px;
   width: 35px;
   display: grid;
   color: var(--secondary-color);
   font-size: 32px;
   border:none;
   border-radius: 50%;
}
.mode:hover{
    color: var(--accent1-color);
}

footer{
    background-color: rgb(44, 44, 44);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-between;
      color: var(--primary-color);;
      box-shadow: 0px 0px 2px ;
      font-family: "Roboto", serif;
      font-style: normal;
      font-size: small;
  }
  footer ul{
    list-style: none;
  }
  footer div{
    padding: 15px;
  }
  footer h2{
    text-align: left;
  }
  main{
    display: grid;
    grid-template-columns: 1fr;
  }
  section{
    width: 90%;;
    margin: 0 auto;
    padding: 15px;
  }
  h2 {
    text-align: center;
    
  }
  .categories ul{
   display: flex;
   list-style: none;
   justify-content: center;
  }
  .categories li{
    margin: 15px;
  }
  .categories li a{
    text-decoration: none;
    color: #2C535A;
  }
  .search{
  border-radius: 1rem;
  width: 50%;
  display: flex;
  justify-self: center;
  min-width: 500px;
  margin-top: 30px;
  outline: 10px solid var(--primary-color);
  }
  .search input {
    width: 75%;
    height:45px ;
    font-size: medium;
    border: none;
  }
  .search select,button{
    width: 15%;
    border: none;
    height: 45px;
  }
  .close {
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
    font-size: 20px;
}
.close:hover{
  color: red;
}
  .search select{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    text-align: center;
  }
  .search button{
    background-color: black;
    color: var(--primary-color);
    font-weight: 700;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .search input:focus, .search select:focus{
    outline: none;
  }
  .search button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    
  }
 .card p{
  text-align: center;
  border-top: 1px solid rgb(150, 150, 150);
  margin-bottom: 15px;
  padding: 15px;
  background-color: #d0e2f7;
  font-size: small;
  font-weight: bolder;
 
}
 .card address{
  text-align: center;
}
  .text{
    font-size: x-small;
  }
  .body img{
    width: 100%;
    height: 100%;

  }
  .socia ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .socia ul li{
    font-size: 35px;
    margin-left: 35px;
   
  }
  .socia ul li a{
    color: var(--primary-color);
  }
  .socia ul li a:hover{
    opacity: 0.7;
  }
  .modal {
    display: none;
    position: fixed;
    justify-items: center;
    place-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.second-contenair {

  display: grid;
  gap: 50px;
  padding: 20px;
}
.card {
  margin: 10px;
  grid-template-rows: auto 60% auto;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 3px black;
  background: #f4f4f4;
  border-radius: 5px;
  transition: transform 0.3s;
}
.card h2{
  padding: 10px;
}
.card a{
  text-decoration: none;
}
.card button{
  background-color: var(--primary-color);
  color:black;
  font-size: large;
  display: block;
  border-radius: 0.5rem;
  width: 60%;
  box-shadow: 0px 0px 3px black;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: transform 1s;
}
.card button:hover{

 background-color: #04aec9;
 color: white;
}
.card figure img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.card:hover {
  transform: scale(1.05);
}

@media (max-width: 640px) {
  section h2{
    font-size: medium;
  }
    .second-contenair {
      gap: 0px;
      justify-items: center;
        grid-template-areas: 
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
            "card6"
            "card7"
            "card8";
    }
}
@media (min-width: 641px) and (max-width: 1024px) {
  main h1{
    text-align: center;
    margin: 10px;
    font-size: 2vw;
  }
    .second-contenair {
      grid-template-areas: 
      "card1 card2"
      "card3 card4" 
      "card5 card6"
      "card7 card8";

    }
}
@media (min-width: 1025px) {
    .second-contenair {
      grid-template-areas: 
      "card1 card2 card3"
      "card4 card5 card6"
      "card7 card8 card9";
    }
}