

@media screen and (max-width:1500px) {
  .business{
    grid-template-columns: 1fr 1fr 1fr;
  }
  section{
    width: 98%;;
  }
}
@media screen and (max-width:1200px) {
  .card{
    width: 80%;
  }
  .business{
    grid-template-columns: 1fr 1fr;
  }
  section{
    width: 100%;;
  }
  .extrait{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hero a{
    right: 25%;
    bottom: 45%;
  }
  .hero{
    width: 95%;
 
 
   }
}
@media screen and (max-width:900px) {
  .hero a{
    right: 25%;
    bottom: 55%;
  }
  .weather{
    display: grid;
    grid-template-rows: 1fr;
  }
  .extrait{
    grid-template-columns: 1fr;
  }
 
}
@media screen and (max-width:750px) {
  .hero{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 30px;

 
 
   }
   .top{
    width: 90%;
    padding: 0px;
   }
   .bottom{
    width: 80%;
    margin: 0 auto;
   }
   .extrait{
    width: 90%;
    margin: 0px;
  }
  .weather{
    width:90% ;
    margin: 0px;
  }
  .herohead{
    font-size: large;
   
  }
  .hero a{
   padding: 10px;
   right: 19%;
    bottom:60%;
  }
  main h1{ 
   
    font-size: small;
    width: 80%;
    display: inline;
  }
  .business{
    grid-template-columns: 1fr;
  }
  section{
    width: 100%;
  }
  .buss{
    margin: 0px;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 3px black;
    margin-bottom: 20px;
    
  }
  .box{
   width: 80%;
   margin-top: 20px;
   }
   .extrait{
   justify-items: left;
   }
   .body-bo
  nav ul{
    display: block;
  }
  .nav-menu ul{
    display: block;
  }
  .nav-menu {
    z-index: 100;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    transition: right 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);
    box-shadow: -4px 0 15px #00000033;
    overflow-y: auto;
    padding-top: 100px;
  }
  
  .nav-menu::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #ffffff0d;
  }
  
  .nav-menu ul {
    list-style-type: none;
  }
  
  .nav-menu ul li {
    margin: 0 15px;
    border-bottom: 1px solid #ffffff1a;
  }
  
  .nav-menu ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    display: block;
    padding: 15px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
  }
  
  .nav-menu ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    transition: left 0.3s ease;
  }
  
  .nav-menu ul li a:hover::after {
    left: 0;
  }
  .burger-container {
  
    display: flex;
  
  }
  .categories{
    display: none;
  }
  .mode{text-align: center; position: relative; left: 110px; top: 2px;}
  
footer{
   
    grid-template-columns: 1fr;
    
}
footer div{
  justify-items: center;
}
}
@media screen and (max-width:600px) {
  .search{
    width: 90%;
    min-width: 300px;
    outline: 6px solid var(--primary-color);
    }
}